<a class="skip-link" href="#main">{{ 'header.skipToContent' | translate }}</a>

<header class="header">
  <div class="header__inner">
    <a class="header__brand" routerLink="/" fragment="hero" (click)="closeMobile()">
      <span class="header__brand-mark">LC</span>
      <span class="header__brand-name">Lucas Camino</span>
    </a>

    <app-header-nav
      [open]="mobileOpen()"
      (linkClicked)="closeMobile()"
    />

    <app-header-controls
      [mobileOpen]="mobileOpen()"
      (burgerClicked)="toggleMobile()"
    />
  </div>
</header>
