@use '../../../../../styles/tokens' as t;
@use '../../../../../styles/mixins' as m;

.stack-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: t.$space-8;

  @include m.md { grid-template-columns: repeat(2, 1fr); }
  @include m.lg { grid-template-columns: repeat(3, 1fr); }
}
